.favorites-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  .fav-recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
  
  .fav-recipes .recipe-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  
  .fav-recipes .recipe-card:hover {
    transform: translateY(-5px);
  }
  
  .recipe-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .recipe-details {
    padding: 15px;
    text-align: center;
  }
  
  .recipe-details h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .recipe-details p {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0;
  }
  
  
  .fav-button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px auto;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #e64a19;
    transform: scale(1.05);
  }
  